.navbar {
    display: flex;
    padding: 30px;
}

.logo {
    margin-right: auto;
}

ul {
    display: flex;
    margin: 0 0 0 auto;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    color: #E5E7EB;
}


.header {
    background-color: #1f2937;
    margin: 0px;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;

}

.logo {
    font-size: 24px;
    color:#F9FAF8;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 40px 0;
}

#main {
    width: 620px;
    height: 418px;
    padding: 20px;
}

.ttext {
    font-size: 18px;
    color:#E5E7EB;
}

button {
    color: #F9FAF8;
    background-color: #3882f6;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border-color: #3882f6;
}

.tleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info {
    color:#1F2937;
    font-size: 18px;
    margin: 0;
}

.ilustration {
    margin: 0;
    height:180px;
    width: 180px;
    border: solid #3882f6 5px;
    border-radius: 15px;
}

.ilusinfo {
    max-width: 180px;  
    margin: 30px; 
}

.information {
    display: flex;
    justify-content: center;
}

.quotesect {
    background-color: #E5E7EB;
    padding: 100px 250px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    margin: 0;
}

.credit {
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-align: right;
}
